{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if temps|length < 1 %}
    <h4 style="text-align: center">There are no temperature samples. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for temp in temps %}
            <tr>
                <td>{{ temp.temp }}</td>
                <td>{{ temp.date_created }}</td>
                <td>
                    <a href="/delete/{{temp.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}