:root {
    --background: #1f1f1f;
    --navbar-background: #050505;
    --text: #ffffff;
    --light-grey: #d9d9d9;
    --medium-light-grey: #b1b1b1;
    --medium-grey: #5b5b5b;
    --dark-grey: #555555;
    --green: #02ed50;
    --red: #ff2020;
}

$background: var(--background);
$navbar-background: var(--navbar-background);
$text: var(--text);
$light-grey: var(--light-grey);
$medium-light-grey: var(--medium-light-grey);
$medium-grey: var(--medium-grey);
$dark-grey: var(--dark-grey);
$green: var(--green);
$red: var(--red);
